<% contentFor('body') %>
    <p>編輯Project</p>
    <form action="/admin/project/edit" method="post">
        <input type="hidden" name="id" value="<%= project.id%>">
        <div>
            <label for="title">專案名稱</label>
            <input id="title" type="text" placeholder="請輸入專案名稱" name="title" value="<%= project.title%>">
        </div>
        <div>
            <label for="demoUrl">展示網址</label>
            <input id="demoUrl" type="text" placeholder="請輸入專案Demo網址" name ="demoUrl" value="<%= project.demoUrl%>">
        </div>
        <div>
            <label for="repoUrl">GitHub網址</label>
            <input id="repoUrl" type="text" placeholder="請輸入專案gitHub網址" name="repoUrl" value="<%= project.repoUrl%>">
        </div>
        <textarea placeholder="請輸入專案特色描述" cols="30" rows="10" name="projectFeatureDescription" ><%= project.projectFeatureDescription%></textarea>
        <textarea placeholder="請輸入專案技術描述" cols="30" rows="10" name="projectTechnologyDescription" ><%= project.projectTechnologyDescription%></textarea>
        <textarea placeholder="請輸入專案未來規劃" cols="30" rows="10" name="projectFutureDescription" ><%= project.projectFutureDescription%></textarea>
        <button type="submit">Submit</button>
    </form>