<!-- projectCard recive a Project object from outside -->
<div class="m-2 border-4 border-black">
    <header>
        <p><%= project.title %></p>
    </header>
    <div>
        <p><%= project.repoUrl %></p>
        <p>創建者 : <%= project.User.account%></p>
    </div>
    <footer>
        <a href="/admin/project/edit/<%= project.id %>">Edit</a>
        <a href="/admin/project/delete/<%= project.id %>">Delete</a>
    </footer>
</div>
