<!-- projectCard recive a Project object from outside -->
<p><%= project.title %></p>
<p><%= project.repoUrl %></p>
<p>創建者 : <%= project.User.account%></p>


<a href="/admin/project/edit/<%= project.id %>">Edit</a>
<a href="/admin/project/delete/<%= project.id %>">Delete</a>
